.description {
  width: 60%;
  margin: 0 auto 0 auto;
  position: relative;
  top: 98px;
  display: flex;
  @media screen and (max-device-width: 500px) {
    width: 100%;
    display: block;
  }

}

#preFooterBlock {
  width: 100%;
  border-top: #1e1e1e 2px solid;
  margin: 50px 0;
  @media screen and (max-device-width: 500px) {
    margin: 100px 0 50px 0;
  }
}

#blackFooterContainer{
  margin-bottom: 100px;
  @media screen and (max-device-width: 500px) {
    margin-bottom: 30px;
  }
}

