.description {
  width: 60%;
  margin: 0 auto 0 auto;
  position: relative;
  top: 98px;
  display: flex;
  @media screen and (max-device-width: 400px) {
    width: 90%;
    display: block;
  }
}

#preFooterBlock {
  width: 60%;
  margin: 0 auto;
}