#delivery {
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 20px 0;
  .dateContainer{
    display: flex;
    align-items: center;
    .devLogo{
      width: 25px;
      height: 25px;
      margin: 0 10px 0 0;
    }
    p{
      color: #535353;
      font-weight: 300;
      span{
        font-weight: 500;
        color: black;
      }
    }
  }

  h1{
    text-align: center;
    padding: 20px 0 0 0 ;
  }
  .volcano{
    color: black;
    font-weight: 300;
    span{
      font-weight: 500;
      color: black;
    }
  }

}

.boxInfo{
  margin: 10px 0 0 0;
  cursor: pointer;
  border-top: 0.1rem solid rgb(46, 42, 57, 0.2);
  padding: 10px 0 0 0;

  .boxFlex{
    display: flex;
    align-items: center;
    justify-content: start;

    h2{
      font-size: 18px;
    }
    img{
      width: 30px;
      height: 30px;
      margin: 0 10px 0 0;

    }
    .arrowDown{
      width: 15px;
      height: 15px;
      margin: 0 20px 0 auto;
    }
    .arrowDown2{
      width: 15px;
      height: 15px;
      margin: 0 20px 0 auto;
      transform: rotate(180deg);
    }
  }
  h3{
    padding: 10px 20px;
    font-size: 16px;
    color: #535353;
    font-weight: 600;
  }
  p{
    color: #535353;
    padding: 5px 0 0 20px;
    font-weight: 300;
    span{
      font-weight: 600;

    }
  }
}

.bigPhoto{
  width: 100%;
}

.h2II{
  color: #535353;
  font-size: 18px;
}

.h3II{
  font-size: 24px;
  padding: 30px 20px 30px 20px;
}

.h2scep{
  padding:  20px 0;
}

.boxMGM{
  margin: 30px 0 0 0;
}

.smallIMG{
  display: block;
  margin: 0 auto;
  width: 100%;
}