header {
  width: 100vw;
  top: 38px;
  left: 0;
  right: 0;
  z-index: 600;
  transition: top 0.1s ease;
  color: white;
  margin-bottom: 40px;
  @media screen and (max-device-width: 500px) {
    margin-bottom: 10px;
    margin-top: 5px;
  }

  h1 {
    margin: 0 20px 0 0;
    cursor: pointer;
    @media screen and (max-device-width: 500px) {
      font-size: 30px;
      margin-bottom: 0;
    }
  }

  p {
    margin: 0 10px;
    cursor: pointer;
    @media screen and (max-device-width: 500px) {
      display: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-device-width: 500px) {
    width: 100%;
  }

  #header {
    width: 60%;
    display: flex;
    padding: 20px;
    margin: 0 20%;
    align-items: center;
    box-sizing: border-box;
    @media screen and (max-device-width: 500px) {
      padding: 0;
      width: 100%;
      margin: 0;
      justify-content: space-between;
    }

    #menu {
      width: 25%;
      padding: 10px;
      margin: 0 0 0 auto;
      justify-content: left;
      align-items: center;
      display: none;
      @media screen and (max-device-width: 500px) {
        display: flex;
        justify-content: end;
        width: 15%;
        padding-right: 30px;
      }

      img {
        justify-content: center;
        width: 25px;
        height: 25px;

        &:hover {
          cursor: pointer;
        }

      }
    }

    #logoShop {
      width: 50%;
      margin: 0 auto;
      padding: 10px;
      @media screen and (max-device-width: 500px) {
        padding: 0 0 0 0;
      }

      h1 {
        color: #c2a272;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        user-select: none;
        -webkit-user-select: none;
        text-align: center;
        @media screen and (max-device-width: 500px) {
          font-size: 20px;
          padding: 20px 0 20px 0;
        }
      }
    }

    #ShoppingCart {
      position: relative;
      margin: 0 0 0 10px;
      display: flex;
      justify-content: right;
      align-items: center;
      cursor: pointer;
      @media screen and (max-device-width: 500px) {
        padding: 0 25px 0 0;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 35px;
        height: 35px;
        @media screen and (max-device-width: 500px) {
          width: 25px;
          height: 25px;
        }

      }
    }

  }

  .ShoppingCart {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
    @media screen and (max-device-width: 500px) {
      display: none;
    }


  }

  .ShoppingCart2 {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;

    &:hover {
      width: 30px;
      height: 30px;
    }
  }
}

.logotype {
  display: block;
  width: 20%;
  margin: 0 auto;
  @media screen and (max-device-width: 500px) {
    width: 50%;
  }
}

.links {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  @media screen and (max-device-width: 500px) {
    display: none;
  }

  a {
    margin: 0 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  a:first-child {
    text-decoration: underline;
  }
}