header {
  width: 100%;
  position: fixed;
  top: 38px;
  left: 0;
  right: 0;
  z-index: 20;
  background: white;
  transition: top 0.1s ease;

  @media screen and (max-device-width: 500px) {
    width: 100%;
  }
  #header{
    width: 60%;
    display: flex;
    padding: 20px;
    margin: 0 20%;
    background: white;
    box-sizing: border-box;
    @media screen and (max-device-width: 500px) {
      padding: 0;
      width: 100%;
      margin: 0;
    }
    #menu {
      display: flex;
      width: 25%;
      padding: 10px;
      margin: 0 0 0 auto;
      justify-content: left;
      align-items: center;

      @media screen and (max-device-width: 500px) {
        padding: 0 0 0 25px;
      }

      img {
        justify-content: center;
        width: 25px;
        height: 25px;
        &:hover {
          cursor: pointer;
        }

      }
    }

    #logoShop {
      width: 50%;
      margin: 0 auto;
      padding: 10px;
      @media screen and (max-device-width: 500px) {
        padding: 0 0 0 0;
      }
      h1 {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        user-select: none;
        -webkit-user-select: none;
        text-align: center;
        @media screen and (max-device-width: 500px) {
          font-size: 20px;
          padding:  20px 0 20px 0;
        }
      }
    }

    #ShoppingCart {
      position: relative;
      width: 25%;
      padding: 10px;
      margin: 0 auto 0 0;
      display: flex;
      justify-content: right;
      align-items: center;
      @media screen and (max-device-width: 500px) {
        padding: 0 25px 0 0;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

}