.returnPolicy3{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 2233;
  overflow: auto;

}


.returnBlock3 {
  background: white;
  width: fit-content;
  margin: 10vh auto;
  padding: 30px;
  border-radius: 20px;
  transform: scale(0.5);
  transition: 0.4s all;
  p{
    border: 1px solid black;
    display: block;
    padding: 5px 10px;
    border-radius: 7px;
  }
  h1{
    text-align: center;
  }
  input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #f2ecff;
    margin: 20px 0px;
    width: 45%;
    box-sizing: border-box;
    &:hover {
      outline: 2px solid mediumpurple;
      cursor: pointer;
    }
  }
  div{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .phone{
    display: block;
    width: 100%;
  }
  textarea{
    display: block;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #f2ecff;
    width: 100%;
    &:hover {
      outline: 2px solid mediumpurple;
      cursor: pointer;
    }

  }
  button{
    display: block;
    margin-top: 20px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}


