.BlackHeader {
  background: #89b4ea;
  color: black;
  height: 38px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 22;


  .text-change {
    display: block;
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
    @media screen and (max-device-width: 500px) {
      font-size: 14px;
    }
  }
}