#PriceInfo {
  padding: 20px;
  @media screen and (max-device-width: 500px) {
    margin: 20px 0 0 0 ;
  }

  #discountCoupon {
    font-weight: 600;
    padding: 10px 0 5px 0;
  }

  .discountInput {
    input {
      background: #f2ecff;
      outline: none;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 10px;
      margin: 5px 10px 0 0;
    }

    button {
      border: none;
      outline: none;
      color: white;
      background: #045e42;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-device-width: 500px) {
        margin: 20px 0 10px 0;
      }
    }
  }

  h1 {
    font-size: 40px;
    color: #2e2a39;
    line-height: 40px;
    padding: 0 0 10px 10px;
    @media screen and (max-device-width: 500px) {
      font-size: 25px;
    }

  }

  #stars {
    margin: 20px 0px 20px 10px;
    color: #535353;

    #rait {
      margin: -6px 0;
    }
  }


  p {

    #discount {
      color: black;
    }

    .vente {
      color: white;
      background-color: black;
      border-radius: 15px;
      padding: 3px 10px;
      margin: 0 0 0 10px;
      font-size: 12px;
    }

    #price {
      padding-left: 10px;
      color: gray;
      text-decoration: line-through;
    }
  }

  h3 {
    margin: 20px 0 10px 0;
    font-size: 16px;
  }

  select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    padding: 10px;
    border-radius: 10px;
    background: white;
    border: none;
    color: inherit;
    caret-color: inherit;
    color: black;
    box-sizing: border-box;
    outline: none;
    transition: outline 0.1s ease-in-out;
    border: 1px solid black;
    cursor: pointer;
    @media screen and (max-device-width: 500px) {
      padding: 15px;
    }

  }

  #visitors {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;

    span {
      background: black;
      color: white;
      padding: 2px 7px;
      border-radius: 10px;
    }
  }

  #buttonAddToCart {
    background: black;
    color: white;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    padding: 16px 24px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin: 10px 0 0 0;

    &:hover {
      cursor: pointer;
    }

    #whiteBag {
      display: block;
      width: 16px;
      height: 16px;
      margin: 4px 5px 4px 0;
    }
  }
}

#disText {
  padding-left: 10px;
  font-size: 20px;
  color: red;
}

#discountProcent {
  padding-top: 10px;
  font-weight: 600;
}


#items-count {
  h2 {
    padding: 15px 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: black;
  }

  #bar {
    background: #eae9e9;
    border: 0 solid #f5f5f5;
    height: 11px;
    border-radius: 30px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
  }

  #progressBar {
    background: #c2a272;
    height: 11px;
    float: left;
    border-radius: 30px;
    width: 22%;
  }

}

#timerBlock {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  align-items: center;
  color: #c2a272;
  font-size: 30px;

  div {
    position: relative;
    color: white;
    background-color: #c2a272;
    float: left;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;

    p {
      font-size: 12px;
      font-weight: 400;
    }

  }

  #hours {

  }

  #minutes {

  }

  #seconds {

  }
}

#h4Text {
  text-align: center;
  font-size: 15px;
  color: #c2a272;

}

.Taxes {
  font-size: 12px;
  padding: 0 0 0 10px;
  color: #535353;
}
.textUnder{
  text-align: center;
  font-size: 12px;
  opacity: 0.5;
  padding: 10px 0 0 0 ;
}



.ulPo{
  width: 90%;
  margin: 30px auto;
  font-size: 18px;
  opacity: 0.8;
}

