#ourPolicy {
  width: 100%;
  margin: 160px 0 0 0;
  @media screen and (max-device-width: 500px) {
    display: none;
  }
  @media screen and (max-device-width: 1800px) and (min-device-width: 500px) {
    display: none;
  }

  #img {
    width: 100%;
    background: #faf8ff;
    margin: 0 0 80px 0;

    img {
      width: 50%;
      padding: 0;
      display: block;
      margin: 0 auto;
    }
  }

  .premiumProducts {
    width: 60%;
    display: flex;
    margin: 60px auto;

    img {
      width: 545px;
      display: block;
      border-radius: 10px;
    }

    .text {
      padding: 60px 40px;
      text-align: center;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .articles {
    width: 100%;
    margin: 100px 0 0 0;

    #articleMain {
      width: 60%;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      text-align: center;

      div {
        width: 33.33%;
        line-height: 2;

        img {
          width: 50px;
          height: 50px;
          display: block;
          margin: 0 auto;
        }

        p {
          width: 30%;
          display: block;
          padding: 10px;
          border: 1px solid black;
          border-radius: 30px;
          margin: 0 auto;
        }
      }
    }

  }

  #bill {
    width: 100%;
    background: #faf8ff;
    margin: 100px 0 0 0;

    div {
      width: 40%;
      text-align: center;
      margin: 0 auto;
      padding: 50px;

      h2 {
        font-size: 24px;
      }

      h4 {
        font-size: 18px;
      }
    }
  }
}