#photoContainer {
  position: static;
  width: 50%;
  margin: 0px auto;
}
@media screen and (max-device-width: 500px) {
  #photoContainer {
    margin: 0;
    width: 100%;
  }
}
#photoContainer #position {
  width: 100%;
}
#photoContainer #position #mainPhotoContainer {
  width: 95%;
  overflow-x: hidden;
  margin: 0 auto;
}
#photoContainer #position #mainPhotoContainer #photoBlock {
  width: 100%;
  display: flex;
  position: relative;
  left: 0;
  align-items: center;
}
#photoContainer #position #mainPhotoContainer #photoBlock:hover {
  cursor: grab;
}
#photoContainer #position #mainPhotoContainer #photoBlock .mainPhoto {
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  height: 600px;
}
@media screen and (min-device-width: 2000px) {
  #photoContainer #position #mainPhotoContainer #photoBlock .mainPhoto {
    height: 800px;
  }
}
#photoContainer #position #mainPhotoContainer #photoBlock .mainPhoto2 {
  width: 80%;
  padding: 20px;
  border-radius: 50px;
  display: block;
  margin: 0 50px;
}
@media screen and (max-device-width: 500px) {
  #photoContainer #position #mainPhotoContainer #photoBlock .mainPhoto2 {
    margin: 0 35px;
  }
}
#photoContainer #position #photos {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
}
@media screen and (max-device-width: 500px) {
  #photoContainer #position #photos {
    width: 90%;
    margin: 0 auto;
  }
}
#photoContainer #position #photos img {
  width: 19%;
  border-radius: 10px;
  margin: 10px 4px;
}
#photoContainer #position #photos img:hover {
  cursor: pointer;
}

.noVisible {
  opacity: 0.6;
}

.visible {
  opacity: 1;
}

.sliderBlock {
  width: 100%;
  padding: 20px 10px 0 10px;
  position: relative;
}
@media screen and (max-device-width: 500px) {
  .sliderBlock {
    padding: 0px 10px 0 10px;
  }
}
.sliderBlock div {
  display: flex;
  align-items: center;
}
.sliderBlock div img {
  display: block;
  width: 100%;
  border-radius: 20px;
}
@media screen and (min-device-width: 2500px) {
  .sliderBlock div img {
    margin: 230px auto 0 auto;
  }
}
@media screen and (min-device-width: 2040px) {
  .sliderBlock div img {
    margin: 150px auto 0 auto;
  }
}
@media screen and (min-device-width: 1910px) {
  .sliderBlock div img {
    margin: 150px auto 0 auto;
  }
}
@media screen and (min-device-width: 1610px) {
  .sliderBlock div img {
    margin: 20px auto 0 auto;
  }
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.addDiv {
  margin: 40px auto;
  width: 60%;
}
@media screen and (max-device-width: 500px) {
  .addDiv {
    width: 100%;
    padding: 0 20px;
    margin: 10px auto;
  }
}
.addDiv h1 {
  padding: 0 0 30px 0;
}
.addDiv .dodDiv {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 10px 0;
}
.addDiv .dodDiv ul {
  margin: 10px 0 10px 30px;
  line-height: 30px;
  opacity: 0.8;
}
.addDiv .dodDiv .allBlocks {
  display: flex;
  align-items: center;
}
.addDiv .dodDiv .blockImg {
  width: 50px;
  height: 40px;
}
.addDiv .dodDiv .blockImg img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
.addDiv .dodDiv p {
  font-weight: 600;
}
.addDiv .dodDiv2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  cursor: pointer;
}
.addDiv .dodDiv2 .allBlocks {
  display: flex;
  align-items: center;
}
.addDiv .dodDiv2 .accordion {
  margin: 20px 0 0 20px;
}
.addDiv .dodDiv2 .accordion p {
  font-weight: 400;
  font-size: 17px;
  line-height: 35px;
  opacity: 0.8;
}
.addDiv .dodDiv2 .blockImg {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
}
.addDiv .dodDiv2 .blockImg img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
.addDiv .dodDiv2 p {
  font-weight: 600;
}

/*# sourceMappingURL=ProductImages.css.map */
