#photoContainer {
  position: static;
  width: 50%;
  margin: 0px auto;
  @media screen and (max-device-width: 500px) {
    margin: 0;
    width: 100%;
  }

  #position {
    width: 100%;


    #mainPhotoContainer {
      width: 95%;
      overflow-x: hidden;
      margin: 0 auto;


      #photoBlock {
        width: 100%;
        display: flex;
        position: relative;
        left: 0;
        align-items: center;


        &:hover {
          cursor: grab;
        }

        .mainPhoto {
          width: 100%;
          padding: 20px;
          border-radius: 50px;
          height: 600px;

          @media screen and (min-device-width: 2000px) {
            height: 800px;
          }
        }

        .mainPhoto2 {
          width: 80%;
          padding: 20px;
          border-radius: 50px;
          display: block;
          margin: 0 50px;
          @media screen and (max-device-width: 500px) {
            margin: 0 35px;
          }
        }
      }
    }

    #photos {
      display: flex;
      width: 95%;
      margin: 0 auto;
      justify-content: center;
      padding: 0 20px;
      align-items: center;


      @media screen and (max-device-width: 500px) {
        width: 90%;
        margin: 0 auto;
      }

      img {
        width: 19%;
        border-radius: 10px;
        margin: 10px 4px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

}

.noVisible {
  opacity: 0.6;
}

.visible {
  opacity: 1;
}

.sliderBlock {
  width: 100%;
  padding: 20px 10px 0 10px;
  position: relative;
  @media screen and (max-device-width: 500px) {
    padding: 0px 10px 0 10px;
  }

  div {
    display: flex;
    align-items: center;


    img {
      display: block;
      width: 100%;
      border-radius: 20px;
      @media screen and (min-device-width: 2500px) {
        margin: 230px auto 0 auto;
      }
      @media screen and (min-device-width: 2040px) {
        margin: 150px auto 0 auto;
      }
      @media screen and (min-device-width: 1910px) {
        margin: 150px auto 0 auto;
      }
      @media screen and (min-device-width: 1610px) {
        margin: 20px auto 0 auto;
      }
    }
  }

}

.slick-prev:before, .slick-next:before {
  display: none;
}

.addDiv {
  margin: 40px auto;
  width: 60%;
  @media screen and (max-device-width: 500px) {
    width: 100%;
    padding: 0 20px;
    margin: 10px auto;
  }

  h1 {
    padding: 0 0 30px 0;
  }

  .dodDiv {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px 0;

    ul {
      margin: 10px 0 10px 30px;
      line-height: 30px;
      opacity: 0.8;
    }

    .allBlocks {
      display: flex;
      align-items: center;

    }

    .blockImg {
      width: 50px;
      height: 40px;

      img {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto;
      }
    }

    p {
      font-weight: 600;
    }
  }

  .dodDiv2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    cursor: pointer;
    .allBlocks {
      display: flex;
      align-items: center;

    }
    .accordion{
      margin: 20px 0 0 20px;
      p{
        font-weight: 400;
        font-size: 17px;
        line-height: 35px;
        opacity: 0.8;
      }
    }

    .blockImg {
      width: 50px;
      height: 40px;
      display: flex;
      align-items: center;


      img {
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 auto;
      }
    }

    p {
      font-weight: 600;
    }
  }
}